{
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "brace-style": [2],
    "comma-style": [2],
    "curly": [2, "multi-line"],
    "func-style": [2, "expression"],
    "generator-star-spacing": [2],
    "indent": [2, 2, { "indentSwitchCase": true }],
    "linebreak-style": [2],
    "no-constant-condition": [0],
    "no-loop-func": [0],
    "no-lonely-if": [2],
    "no-multiple-empty-lines": [2],
    "no-nested-ternary": [2],
    "no-trailing-spaces": [0],
    "no-underscore-dangle": [0],
    "no-unneeded-ternary": [2],
    "no-var": [2],
    "object-shorthand": [2],
    "operator-linebreak": [2],
    "quotes": [2, "single"],
    "radix": [2],
    "space-after-keywords": [2],
    "space-before-blocks": [2],
    "space-before-function-paren": [2, "never"],
    "space-in-parens": [2, "never"],
    "spaced-line-comment": [2]
  }
}
